<center>

<h2>Sign Up</h2>

<form method="post">
	
	<input type="text" name="Name" placeholder="Full Name"class="inputme"><br>
	<input type="tel" name="phone" placeholder="Mobile #"class="inputme"><br>
	<input type="text" name="email" placeholder="Email"class="inputme"><br>
	<input type="text" name="username" placeholder="Username"class="inputme"><br>
<button id ="learnmore">I'm Ready</button>
</form></td>

</center>