<%= render 'layouts/menu' %>
<div class="container col-md-9">
<center>
	<h1> Welcome to your Dashboard.</h1>
	<p> Learn what you can do by <%= link_to 'clicking here', '#' %> or get started in the menu on the left. Cheers!</p>
</center>

</div>