<div class="container col-md-3">
<h1>Admin Dashboard</h1>
<ul>
	<li><%= link_to 'Users', 'users'%></li>
	
	<li>Instant Message</li>
	<li>Queue</li>
	<li>Groups</li>
	<li>Partners</li>
	<li><%=link_to 'Company Directory','businesses'%></li>
</ul>
	</div>
