<div class="container col-md-3">
<h1><%= @user.name %></h1>
<ul>
	<li><%= link_to 'Home', 'user_home'%></li>
	<li>My Grid</li>
	<li><%=link_to 'Service History', 'user_history' %> </li>
	<li>Instant Message</li>
	<li>Subscriptions</li>
	<li>Groups</li>
	<li>Support</li>
</ul>
	</div>
